<!DOCTYPE html>
<html>
  <head>
    <title>TrelloCloneApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:image" content=<%=asset_path('sayhello.gif')%>/>
    <meta property="og:description" content= "Sayhello is a clone of Trello, created using JS, React, Redux, Ruby, Ruby on Rails and PostgreSQL" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script type="text/javascript">
      window.logo = "<%= image_url('sayhellologo.jpg') %>";
      window.splash = "<%= image_url('splash.png') %>";
      window.session = "<%= image_url('sessions.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
